<div class="profile">
    <h1>My Profile</h1>
    <div class="profile-details">
        {{#if subscription}}
            <div class="nft-div">NFT</div>
            <div class="personal-details">
                <div class="">
                    <h5>Name</h5>
                    <h6>{{name}} {{lastName}}</h6>
                </div>
                <div class="">
                    <h5>Subscription</h5>
                    <h6>{{subType}}</h6>
                </div>
                <div class="">
                    <h5>Address</h5>
                <h6>{{address}}</h6>
                </div>
                <div class="button-div">
                    <a href="/users/edit"><button>Edit</button></a>
                    <a href="/auth/logout"><button>Logout</button></a>
                </div>
            </div>
        {{else}}
            <div class="personal-details-unsub">
                <div class="">
                    <h5>Name</h5>
                    <h6>{{name}} {{lastName}}</h6>
                </div>
                <div class="">
                    <h5>Subscription</h5>
                    <h6>N/A</h6>
                </div>
                <div class="">
                    <h5>Address</h5>
                <h6>N/A</h6>
                </div>
                <div class="button-div">
                    <a href="/users/edit"><button>Edit</button></a>
                    <a href="/auth/logout"><button>Logout</button></a>
                </div>
            </div>
        {{/if}}
    </div>
</div>




 